<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% for (item of newListItems) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= item %></p>
    </div>
    <% } %>

    <form action="/" method="post">
      <h4>Add new to do item:</h4>
      <input type="text" name="toDo" placeholder="Add New To Do Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

  <div class="links">
    <a href="/about">About</a>
  </div>

<%- include("footer") -%>
